* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  color: #010101;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  position: relative;
}
